[{{ ticker }}]
Title={{ Title }}
Address=
Ip={{ Ip }}
Port={{ rpcPort }}
Username={{ Username }}
Password={{ Password }}
AddressPrefix={{ AddressPrefix }}
ScriptPrefix={{ ScriptPrefix }}
SecretPrefix={{ SecretPrefix }}
COIN={{ COIN }}
MinimumAmount={{ MinimumAmount }}
TxVersion={{ TxVersion }}
DustAmount={{ DustAmount }}
CreateTxMethod={{ CreateTxMethod }}
GetNewKeySupported={{ GetNewKeySupported }}
ImportWithNoScanSupported={{ImportWithNoScanSupported }}
MinTxFee={{MinTxFee }}
BlockTime={{ BlockTime }}
FeePerByte={{ FeePerByte }}
Confirmations={{ Confirmations }}
