{
    "BAD": {
        "Title": "Badcoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(9013)}}",
        "p2pPort": "{{ p2pPort|default(9012)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "28",
        "ScriptPrefix": "25",
        "SecretPrefix": "80",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "5000",
        "BlockTime": "60",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "v0.16.3-2": {
                "legacy": true,
                "deprecatedrpc": false,
                "xbridge_conf": "badcoin--v0.16.3-2.conf",
                "wallet_conf": "badcoin--v0.16.3-2.conf",
                "GetNewKeySupported": false
            }
        }
    }
}