{
    "BITG": {
        "Title": "BitGreen",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(9335)}}",
        "p2pPort": "{{ p2pPort|default(9334)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "38",
        "ScriptPrefix": "6",
        "SecretPrefix": "46",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "5000",
        "BlockTime": "60",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "v1.4.0.8": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "bitgreen--v1.4.0.8.conf",
                "wallet_conf": "bitgreen--v1.4.0.8.conf",
                "GetNewKeySupported": false
            }
        }
    }
}