{
    "BSD": {
        "Title": "BitSend",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(8800)}}",
        "p2pPort": "{{ p2pPort|default(8886)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "102",
        "ScriptPrefix": "5",
        "SecretPrefix": "204",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "200",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "0.14.2.0.1": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "bitsend--0.14.2.0.1.conf",
                "wallet_conf": "bitsend--0.14.2.0.1.conf",
                "GetNewKeySupported": false
            }
        }
    }
}