{
    "BTDX": {
        "Title": "Bitcloud",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(8330)}}",
        "p2pPort": "{{ p2pPort|default(8329)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "25",
        "ScriptPrefix": "5",
        "SecretPrefix": "153",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "300",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "2.1.0.1.1": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "bitcloud--2.1.0.1.1.conf",
                "wallet_conf": "bitcloud--2.1.0.1.1.conf",
                "GetNewKeySupported": false
            }
        }
    }
}