{
    "BTX": {
        "Title": "BitCore",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(8556)}}",
        "p2pPort": "{{ p2pPort|default(8555)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "3",
        "ScriptPrefix": "125",
        "SecretPrefix": "128",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "2000000",
        "BlockTime": "150",
        "TxVersion": "2",
        "FeePerByte": "4000",
        "Confirmations": "0",
        "versions": {
            "0.90.8.8.1": {
                "legacy": true,
                "deprecatedrpc": false,
                "xbridge_conf": "bitcore--0.15.2.0.0.conf",
                "wallet_conf": "bitcore--0.90.8.8.1.conf",
                "GetNewKeySupported": false
            }
        }
    }
}