{
    "CDZC": {
        "Title": "CryptoDezireCash",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(35602)}}",
        "p2pPort": "{{ p2pPort|default(35601)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "30",
        "ScriptPrefix": "63",
        "SecretPrefix": "199",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "120",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "v2.1.2": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "cryptodezirecash--v2.1.1.conf",
                "wallet_conf": "cryptodezirecash--v2.1.1.conf",
                "GetNewKeySupported": false
            }
        }
    }
}