{
    "CHN": {
        "Title": "CbdHealthNetwork",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(14541)}}",
        "p2pPort": "{{ p2pPort|default(14542)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "28",
        "ScriptPrefix": "29",
        "SecretPrefix": "156",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "1000",
        "BlockTime": "300",
        "TxVersion": "2",
        "FeePerByte": "2",
        "Confirmations": "0",
        "versions": {
            "wallets-source-daemon": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "cbdhealthnetwork--wallets-source-daemon.conf",
                "wallet_conf": "cbdhealthnetwork--wallets-source-daemon.conf",
                "GetNewKeySupported": false
            }
        }
    }
}