{
    "CIV": {
        "Title": "Civitas",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(28843)}}",
        "p2pPort": "{{ p2pPort|default(18843)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "28",
        "ScriptPrefix": "8",
        "SecretPrefix": "212",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "60",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "v1.2.2": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "civitas--v1.2.2.conf",
                "wallet_conf": "civitas--v1.2.2.conf",
                "GetNewKeySupported": false
            }
        }
    }
}