{
    "DMD": {
        "Title": "Diamond",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(17772)}}",
        "p2pPort": "{{ p2pPort|default(17771)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "90",
        "ScriptPrefix": "8",
        "SecretPrefix": "218",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "135",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "3.0.1.3": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "diamond--v3.0.1.1.conf",
                "wallet_conf": "diamond--v3.0.1.1.conf",
                "GetNewKeySupported": false
            }
        }
    }
}