{
    "DOGEC": {
        "Title": "DogeCash",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(6783)}}",
        "p2pPort": "{{ p2pPort|default(6740)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "30",
        "ScriptPrefix": "19",
        "SecretPrefix": "122",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "60",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "5.2.1.0": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "dogecash--3.0.0.conf",
                "wallet_conf": "dogecash--3.0.0.conf",
                "GetNewKeySupported": false
            }
        }
    }
}