{
    "GEEK": {
        "Title": "GeekCash",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(6890)}}",
        "p2pPort": "{{ p2pPort|default(6889)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "38",
        "ScriptPrefix": "19",
        "SecretPrefix": "204",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "60",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "v1.3.0.1": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "geekcash--v1.3.0.1.conf",
                "wallet_conf": "geekcash--v1.3.0.1.conf",
                "GetNewKeySupported": false
            }
        }
    }
}