{
    "GXX": {
        "Title": "GravityCoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(29200)}}",
        "p2pPort": "{{ p2pPort|default(29100)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "40",
        "ScriptPrefix": "10",
        "SecretPrefix": "210",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "100000",
        "BlockTime": "150",
        "TxVersion": "1",
        "FeePerByte": "200",
        "Confirmations": "0",
        "versions": {
            "4.0.7.8": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "gravitycoin--4.0.5.0.1.conf",
                "wallet_conf": "gravitycoin--4.0.5.0.1.conf",
                "GetNewKeySupported": false
            }
        }
    }
}