{
    "JIYOX": {
        "Title": "Jiyo",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(6081)}}",
        "p2pPort": "{{ p2pPort|default(6080)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "21",
        "ScriptPrefix": "25",
        "SecretPrefix": "136",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "60",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "v.2.1": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "jiyo--v.2.1.conf",
                "wallet_conf": "jiyo--v.2.1.conf",
                "GetNewKeySupported": false
            }
        }
    }
}