{
    "KREDS": {
        "Title": "Kreds",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(3850)}}",
        "p2pPort": "{{ p2pPort|default(3950)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "45",
        "ScriptPrefix": "5",
        "SecretPrefix": "195",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "120",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "v1.0.0.6": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "kreds--v1.0.0.5.1.conf",
                "wallet_conf": "kreds--v1.0.0.5.1.conf",
                "GetNewKeySupported": false
            }
        }
    }
}