{
    "LBC": {
        "Title": "LBRYCredits",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(9245)}}",
        "p2pPort": "{{ p2pPort|default(9246)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "85",
        "ScriptPrefix": "122",
        "SecretPrefix": "28",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "false",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "20000",
        "BlockTime": "150",
        "TxVersion": "1",
        "FeePerByte": "40",
        "Confirmations": "0",
        "versions": {
            "v0.17.3.1": {
                "legacy": false,
                "deprecatedrpc": true,
                "xbridge_conf": "lbrycrd--v0.12.2.1.conf",
                "wallet_conf": "lbrycrd--v0.17.2.0.conf",
                "GetNewKeySupported": false
            }
        }
    }
}