{
    "LUX": {
        "Title": "Luxcore",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(26970)}}",
        "p2pPort": "{{ p2pPort|default(26969)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "48",
        "ScriptPrefix": "63",
        "SecretPrefix": "155",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "60",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "v5.3.3": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "lux--v5.3.3.conf",
                "wallet_conf": "lux--v5.3.3.conf",
                "GetNewKeySupported": false
            }
        }
    }
}