{
    "MAC": {
        "Title": "MachineCoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(40332)}}",
        "p2pPort": "{{ p2pPort|default(40333)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "50",
        "ScriptPrefix": "20",
        "SecretPrefix": "178",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "100000",
        "BlockTime": "150",
        "TxVersion": "1",
        "FeePerByte": "200",
        "Confirmations": "0",
        "versions": {
            "v0.16.3": {
                "legacy": true,
                "deprecatedrpc": false,
                "xbridge_conf": "machinecoin--v0.16.1.4.conf",
                "wallet_conf": "machinecoin--v0.16.1.4.conf",
                "GetNewKeySupported": false
            }
        }
    }
}