{
    "MNP": {
        "Title": "MNPCoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(13373)}}",
        "p2pPort": "{{ p2pPort|default(13371)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "50",
        "ScriptPrefix": "53",
        "SecretPrefix": "55",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "60",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "v1.2.5": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "mnpcoin--v1.2.5.conf",
                "wallet_conf": "mnpcoin--v1.2.5.conf",
                "GetNewKeySupported": false
            }
        }
    }
}