{
    "MUE": {
        "Title": "MonetaryUnit",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(19688)}}",
        "p2pPort": "{{ p2pPort|default(19687)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "16",
        "ScriptPrefix": "76",
        "SecretPrefix": "126",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "false",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "40",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "v2.2.0": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "monetaryunit--v2.2.0.conf",
                "wallet_conf": "monetaryunit--v2.2.0.conf",
                "GetNewKeySupported": false
            }
        }
    }
}