{
    "N8V": {
        "Title": "NativeCoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(16741)}}",
        "p2pPort": "{{ p2pPort|default(16740)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "53",
        "ScriptPrefix": "122",
        "SecretPrefix": "112",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "20000",
        "BlockTime": "60",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "1.2": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "nativecoin--v1.0.0.conf",
                "wallet_conf": "nativecoin--v1.0.0.conf",
                "GetNewKeySupported": false
            }
        }
    }
}