{
    "OHMC": {
        "Title": "Ohmcoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(52021)}}",
        "p2pPort": "{{ p2pPort|default(52020)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "80",
        "ScriptPrefix": "13",
        "SecretPrefix": "212",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "30",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "2.4.0.0": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "ohmc--2.3.1.conf",
                "wallet_conf": "ohmc--2.3.1.conf",
                "GetNewKeySupported": false
            }
        }
    }
}