{
    "PIVX": {
        "Title": "PIVX",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(51473)}}",
        "p2pPort": "{{ p2pPort|default(51472)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "30",
        "ScriptPrefix": "13",
        "SecretPrefix": "212",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "false",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "60",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
           "v5.3.0": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "pivx--v5.3.0.conf",
                "wallet_conf": "pivx--v5.3.0.conf",
                "GetNewKeySupported": false
            },
           "v5.3.1": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "pivx--v5.3.0.conf",
                "wallet_conf": "pivx--v5.3.0.conf",
                "GetNewKeySupported": false
            },
           "v5.3.2": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "pivx--v5.3.0.conf",
                "wallet_conf": "pivx--v5.3.0.conf",
                "GetNewKeySupported": false
            },
           "v5.3.2.1": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "pivx--v5.3.0.conf",
                "wallet_conf": "pivx--v5.3.0.conf",
                "GetNewKeySupported": false
            },
           "v5.3.3": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "pivx--v5.3.0.conf",
                "wallet_conf": "pivx--v5.3.0.conf",
                "GetNewKeySupported": false
            }
        }
    }
}
