{
    "PKOIN": {
        "Title": "Pocketnet",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(37071)}}",
        "p2pPort": "{{ p2pPort|default(37070)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "55",
        "ScriptPrefix": "80",
        "SecretPrefix": "33",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "60",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "TxWithTimeField": "false",
        "LockCoinsSupported": "false",
        "versions": {
            "0.22.13": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "pkoin--0.22.13.conf",
                "wallet_conf": "pkoin--0.22.13.conf"
            }
        }
    }
}
