{
    "RVN": {
        "Title": "Ravencoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(8766)}}",
        "p2pPort": "{{ p2pPort|default(8767)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "60",
        "ScriptPrefix": "122",
        "SecretPrefix": "128",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "15000",
        "BlockTime": "60",
        "TxVersion": "1",
        "FeePerByte": "2500",
        "Confirmations": "0",
        "versions": {
            "v4.1.0": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "raven--v4.1.0.conf",
                "wallet_conf": "raven--v4.1.0.conf",
                "GetNewKeySupported": false
            },
            "v4.2.0": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "raven--v4.1.0.conf",
                "wallet_conf": "raven--v4.1.0.conf",
                "GetNewKeySupported": false
            },
            "v4.2.1": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "raven--v4.1.0.conf",
                "wallet_conf": "raven--v4.1.0.conf",
                "GetNewKeySupported": false
            },
            "v4.3.0": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "raven--v4.1.0.conf",
                "wallet_conf": "raven--v4.1.0.conf",
                "GetNewKeySupported": false
            },
            "v4.3.1": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "raven--v4.1.0.conf",
                "wallet_conf": "raven--v4.1.0.conf",
                "GetNewKeySupported": false
            },
            "v4.3.2": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "raven--v4.1.0.conf",
                "wallet_conf": "raven--v4.1.0.conf",
                "GetNewKeySupported": false
            },
            "v4.3.2.1": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "raven--v4.1.0.conf",
                "wallet_conf": "raven--v4.1.0.conf",
                "GetNewKeySupported": false
            },
            "v4.6.1": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "raven--v4.1.0.conf",
                "wallet_conf": "raven--v4.1.0.conf",
                "GetNewKeySupported": false
            },
        }
    }
}