{
    "TRB": {
        "Title": "Tribe",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(9499)}}",
        "p2pPort": "{{ p2pPort|default(9399)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "30",
        "ScriptPrefix": "16",
        "SecretPrefix": "204",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "150",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "1.0.2": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "tribe--v1.0.0.conf",
                "wallet_conf": "tribe--v1.0.0.conf",
                "GetNewKeySupported": false
            }
        }
    }
}