{
    "TRTT": {
        "Title": "Trittium",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(31002)}}",
        "p2pPort": "{{ p2pPort|default(31001)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "65",
        "ScriptPrefix": "19",
        "SecretPrefix": "239",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "0",
        "BlockTime": "60",
        "TxVersion": "1",
        "FeePerByte": "25",
        "Confirmations": "0",
        "versions": {
            "v4.0.2.2": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "trittium--v4.0.2.2.conf",
                "wallet_conf": "trittium--v4.0.2.2.conf",
                "GetNewKeySupported": false
            }
        }
    }
}
