{
    "UNO": {
        "Title": "Unobtanium",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(65535)}}",
        "p2pPort": "{{ p2pPort|default(65534)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "130",
        "ScriptPrefix": "30",
        "SecretPrefix": "224",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "1000",
        "BlockTime": "180",
        "TxVersion": "1",
        "FeePerByte": "2",
        "Confirmations": "0",
        "versions": {
            "v0.10.5": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "unobtanium--v0.10.1.1.conf",
                "wallet_conf": "unobtanium--v0.10.1.1.conf",
                "GetNewKeySupported": false
            }
        }
    }
}