{
    "VSX": {
        "Title": "Vsync",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(65011)}}",
        "p2pPort": "{{ p2pPort|default(65010)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "70",
        "ScriptPrefix": "13",
        "SecretPrefix": "212",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "60",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "v3.8.7.6": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "vsync--v3.8.5.0.conf",
                "wallet_conf": "vsync--v3.8.5.0.conf",
                "GetNewKeySupported": false
            }
        }
    }
}