{
    "XP": {
        "Title": "eXperiencePoints",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(19325)}}",
        "p2pPort": "{{ p2pPort|default(19324)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "55",
        "ScriptPrefix": "13",
        "SecretPrefix": "73",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "5000",
        "BlockTime": "60",
        "TxVersion": "1",
        "FeePerByte": "10",
        "Confirmations": "0",
        "versions": {
            "v3.4.0.3": {
                "legacy": false,
                "deprecatedrpc": false,
                "xbridge_conf": "experiencepoints--v3.4.0.3.conf",
                "wallet_conf": "experiencepoints--v3.4.0.3.conf",
                "GetNewKeySupported": false
            }
        }
    }
}